<% if(admin.staff_No === 1) { %>
    <%- include('../partials/staff1Header.ejs') %>
<% } else if(admin.staff_No === 2) { %>
    <%- include('../partials/staff2Header.ejs') %>
<% } else if(admin.staff_No === 3) { %>
    <%- include('../partials/staff3Header.ejs') %>
<% } else { %>
    <%- include ('../partials/adminHeader.ejs') %>
<% } %>



<style>
    table,
    th,
    thead{
        border-top : 1px solid rgba(7, 7, 7, 0.701);
    }
    td {
        /* border-top : 1px solid rgba(7, 7, 7, 0.701); */
        border: none;
        font-family: 'Courier New', Courier, monospace;
    }
    .nav-tabs .nav-link {
    background-color: rgb(167, 163, 163);
    color: white;
  }

</style>

<h4 class="text-center my-5 text-secondary">ORDER MANAGEMENT</h4>
<div class="d-flex justify-content-between">

<ul class="nav nav-tabs mb-3" id="orderTabs" role="tablist">
    
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="allOrdersTab" data-bs-toggle="tab" data-bs-target="#allOrders" type="button" role="tab" aria-controls="allOrders" aria-selected="true" onclick="Activerun()">Running Orders</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="completedOrdersTab" data-bs-toggle="tab" data-bs-target="#completedOrders" type="button" role="tab" aria-controls="completedOrders" aria-selected="false" onclick="Activecom()">Completed Orders</button>
    </li>
</ul>

<div >
    <input type="date" name="startdate" id="startdate" onchange="cli()">
    <input type="date" name="enddate" id="enddate" onchange="cli()">
    <button class="btn-info " type="button" id="pdf">Download PDF</button>
    <button class="btn-info " type="button" id="downloadExcelBtn">Download Excel</button>
</div>
</div>
<div class="tab-content" id="orderTabsContent">
    <div class="tab-pane fade show active" id="allOrders" role="tabpanel" aria-labelledby="allOrdersTab">
        <table class="table text-center border-0" id="ordersTable">
            <!-- Table content for processing orders -->
            <thead>
                <tr>
                    <th scope="col">SL NO</th>
                    <th scope="col">Order Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <%let num = 0 ,j=0,k=0%>
                <% if(orders.length> 0){  %>
                <% for(let i=1;i<=orders.length; i++){ %>
                <% if(orders[i-1].completed === false){ num++; j++; %>

                <tr>
                    <td>
                        <%= j %>
                    </td>
                    <td>
                        <%= orders[i-1]._id %>
                    </td>
                    <td>
                        <%=orders[i-1].userId.name%>
                    </td>
                    <td>
                        <%= orders[i-1].payment.amount%>
                    </td>
                    <td>
                        <%= orders[i-1].payment.method%>
                    </td>
                    <td>
                        <%= orders[i-1].status%>
                    </td>
                    <td>
                        <%=orders[i-1].createdAt.toDateString() %>
                    </td>
                    <td>
                        <a class="text-white btn btn-secondary"
                            href="/admin/loadOrderDetails?id=<%=orders[i-1]._id%>">view Details</a><br>
                        <br>
                        <form action="/admin/updateStatus" method="post">
                            <select name="status" class="browser-default custom-select">
                                <option><%=orders[i-1].status%></option>
                                <option>packed</option>
                                <option>Shipped</option>
                                <option>Delivered</option>
                            </select>
                            <input type="hidden" name="orderId" value="<%=orders[i-1]._id%>">
                            <% if (orders[i-1].status!="returned" &&orders[i-1].status!="cancelled" &&orders[i-1].status!="Delivered" ){%>
                            <button style="background-color: rgb(122, 214, 157);" type="submit">update</button>
                            <%}else{%>
                            <%}%>
                        </form>
                    </td>
                </tr> 
                <% } } } if(num===0){ %>
                <tr>
                    <td colspan="5">No Products Found</td>
                </tr>
                <%  }  %>
            </tbody>
            <!-- ... -->
        </table>
    </div>
    <div class="tab-pane fade" id="completedOrders" role="tabpanel" aria-labelledby="completedOrdersTab">
        <table class="table text-center border-0" id="completedOrdersTable">
            <!-- Table content for completed orders -->
            <thead>
                <tr>
                    <th scope="col">SL NO</th>
                    <th scope="col">Order Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody id="tbody_completed">
                <% num = 0 %>
                <% if((orders.length> 0)) {  %>
                <% for(let i=1;i<=orders.length; i++){ %>
                <% if(orders[i-1].completed){ num++; k++; %>
                
                <tr>
                    <td>
                        <%= k %>
                    </td>
                    <td>
                        <%= orders[i-1]._id %>
                    </td>
                    <td>
                        <%=orders[i-1].userId.name%>
                    </td>
                    <td>
                        <%= orders[i-1].payment.amount%>
                    </td>
                    <td>
                        <%= orders[i-1].payment.method%>
                    </td>
                    <td>
                        <%= orders[i-1].status%>
                    </td>
                    <td>
                        <%=orders[i-1].createdAt.toDateString()%>
                    </td>
                    <td>
                        <a class="text-white btn btn-secondary"
                            href="/admin/loadOrderDetails?id=<%=orders[i-1]._id%>">view Details</a><br>
                        <br>
                    
                    </td>
                </tr>
                <% } } } if(num===0){ %>
                <tr>
                    <td colspan="5">No Products Found</td>
                </tr>
                <%  }  %>
            </tbody>
            <!-- ... -->
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    let active=true;
    function Activerun(){
        active =true;
        console.log(active);
    }

    function Activecom(){
        active =false;
        console.log(active);
    }



    // Download as PDF
    document.getElementById('pdf').addEventListener('click', function () {
       if(active){
        var doc = new jsPDF();
        doc.autoTable({
            html: '#ordersTable',
            columns: [
                { header: 'Order ID', dataKey: 'Order ID' },
                { header: 'Product', dataKey: 'Product' },
                { header: 'Price', dataKey: 'Price' },
                { header: 'Method', dataKey: 'Method' },
                { header: 'Method', dataKey: 'Method' },
                { header: 'Method', dataKey: 'Method' },
                { header: 'Method', dataKey: 'Method' },
            ]
        });
        doc.save('sales.pdf');

        // Download as Excel
        document.getElementById('downloadExcelBtn').addEventListener('click', function() {
            // Get the table element
              var table = document.getElementById('ordersTable');

            // Convert the table data to a worksheet object
              var worksheet = XLSX.utils.table_to_sheet(table);

            // Create a new workbook and add the worksheet
              var workbook = XLSX.utils.book_new();
              XLSX.utils.book_append_sheet(workbook, worksheet, 'Sales');

            // Save the Excel file
              XLSX.writeFile(workbook, 'sales.xlsx');
            });


       }else{
        var doc = new jsPDF();
        doc.autoTable({
            html: '#completedOrdersTable',
            columns: [
                { header: 'Order ID', dataKey: 'Order ID' },
                { header: 'Product', dataKey: 'Product' },
                { header: 'Price', dataKey: 'Price' },
                { header: 'Method', dataKey: 'Method' },
                { header: 'Method', dataKey: 'Method' },
                { header: 'Method', dataKey: 'Method' },
                { header: 'Method', dataKey: 'Method' },
            ]
        });
        doc.save('sales.pdf');

        // Download as Excel
        document.getElementById('downloadExcelBtn').addEventListener('click', function() {
            // Get the table element
              var table = document.getElementById('completedOrdersTable');

            // Convert the table data to a worksheet object
              var worksheet = XLSX.utils.table_to_sheet(table);

            // Create a new workbook and add the worksheet
              var workbook = XLSX.utils.book_new();
              XLSX.utils.book_append_sheet(workbook, worksheet, 'Sales');

            // Save the Excel file
              XLSX.writeFile(workbook, 'sales.xlsx');
            });

       }   
    });


    




    // Update orders table based on selected date range
    function cli() {
                start = document.getElementById("startdate").value
                end = document.getElementById("enddate").value
                console.log(start, end);
                data = { start: start, end: end }
                axios.post('/admin/updateOrder', data)
                    .then(res => {
                        if (res.data) {
                            console.log(res.data);
                            console.log(res.data.orderDetail);
                            let orders = res.data.orderDetail
                            let ordersTableHTML = '';
                            let ordersTableHTMLcomplete = '';


                            if (orders.length > 0) {
                                let j=0,k=0
                                orders.forEach((order, i) => {
                                    if(order.completed===false){
                                    j++;
                                    ordersTableHTML += `<tr> <td>${j}</td> <td>${order._id}</td> <td>${order.userId.name}</td> <td>${order.payment.amount}</td> <td>${order.payment.method}</td> <td>${order.status}</td> <td>${order.createdAt.substring(0, 10)}</td> <td> <a class="text-white btn btn-secondary" href="/admin/loadOrderDetails?id=${order._id}">view Details</a><br> <br> <form action="/admin/updateStatus" method="post"> <select name="status" class="browser-default custom-select"> <option>${order.status}</option> <option>Delivered</option> <option>Shipped</option> <option>packed</option> </select> <input type="hidden" name="orderId" value="${order._id}"> ${order.status !== 'returned' ? '<button style="background-color: darkcyan;" type="submit">update</button>' : ''} </form> </td> </tr> `;
                                    }else{
                                        k++;
                                    ordersTableHTMLcomplete += `<tr> <td>${k}</td> <td>${order._id}</td> <td>${order.userId.name}</td> <td>${order.payment.amount}</td> <td>${order.payment.method}</td> <td>${order.status}</td> <td>${order.createdAt.substring(0, 10)}</td> <td> <a class="text-white btn btn-secondary" href="/admin/loadOrderDetails?id=${order._id}">view Details</a> </td> </tr> `;
                                    }
                                
                                });
                            } else {
                                ordersTableHTML=ordersTableHTMLcomplete = '<tr><td colspan="5">Products Not Found</td></tr>';
                            }
                            document.getElementById("tbody").innerHTML = ordersTableHTML;
                            document.getElementById("tbody_completed").innerHTML = ordersTableHTMLcomplete;

                        }
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"></script>

        <%- include ('../partials/adminFooter.ejs') %>